body {
    background-color: #282A3A;
    font-family: 'Verdana';
    color: white;
}

h1 {
    color: #C69749;
}

h3 {
    color: #C69749;
}

hr {
    border-style: none;
    border-top-style: dotted;
    width: 30%;
    border-width: 5px;
}

a {
    color: white;
}